@charset "UTF-8";

/*
main{
    height: 100vm;
}
main {
    flex: 3;
    margin-right: 3rem;
}*/

.menu_select{
   margin-left: 25%;
}

.order_area {
	margin-left: 30%;
}

ul {
display: flex;
padding:0;
list-style: none;
margin: 3px auto;
margin-top:3px;
    padding: 3px;
    width: 100%;

}
li {
padding:10px;
margin: 5px;
}

.none-list{
  margin-left: 20px;
}
