@charset "UTF-8";
body {
    /*background-color: rgba(170, 150, 141, 0.521);*/
     margin: 20px auto;
    padding: 10px 30px 30px;
    background: #efefef;
}

.container {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.yokonarabi {
    display: flex;
    width:100%
}

h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}

h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #a8ddd4;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}

/*
input[type="submit"] {
	width: 200px;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

input[type="submit"]:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}*/

.logout_submit {
	width: 150px;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #a8ddd4;
    border: 1px solid #a8ddd4;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
    margin-top: 20px;
}

.main_submit {
	width: 200px;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

.main_submit:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

.detail-submit{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  /*border-radius: 0 15px 15px 0;*/
  border-radius: 3px;
  transition: .4s;
}

.detail-submit:hover {
  background: #636363;
}

/*.detail-submit:active {
  margin-top: 3px;
  background-color: #1d7dcc;
  border-bottom: 2px solid #1d7dcc;
}*/


/*.header_logo {
	text-align: center
}*/

.c-form-submit-button2 {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #ADADAD;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    text-align : center;
}

.c-form-submit-button2:hover {
    background-color: #000;
}

.c-form-submit-button2:focus {
    outline: 0;
    background-color: #000;
    border: 2px solid rgb(33, 150, 243);
}

/*キャンセル・戻る用赤ボタン*/
.c-form-cancel-button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #FA3932;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 20px;
    text-align : center;
}

.c-form-cancel-button:hover {
    background-color: #000;
}

.c-form-cancel-button:focus {
    outline: 0;
    background-color: #000;
    border: 2px solid rgb(33, 150, 243);
}

.search_bar{
    display: flex; /*アイコン、テキストボックスを調整する*/
    align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
    justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
    height: 50px;
    width: 100%;
}

.search_icon{ /*アイコンに一定のスペースを設ける*/
    height: 15px;
    width: 15px;
    padding: 5px 5px;
}

.group {
	margin: 20px auto;
}


.c-form-select {
    position: relative;
}
