@charset "UTF-8";
body {
    /*background-color: rgba(170, 150, 141, 0.521);*/
     margin: 20px auto;
    padding: 30px 30px 30px;
    background: #efefef;
}

.container {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.yokonarabi {
    display: flex;
    width:100%
}

h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}

h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #a8ddd4;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}

/*
input[type="submit"] {
	width: 200px;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

input[type="submit"]:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}*/

.logout_submit {
	width: 150px;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #a8ddd4;
    border: 1px solid #a8ddd4;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
    margin-top: 20px;
}

.main_submit {
	width: 200px;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

.main_submit:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

.detail-submit{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  /*border-radius: 0 15px 15px 0;*/
  border-radius: 3px;
  transition: .4s;
}

.detail-submit:hover {
  background: #636363;
}

/*.detail-submit:active {
  margin-top: 3px;
  background-color: #1d7dcc;
  border-bottom: 2px solid #1d7dcc;
}*/