@charset "UTF-8";
body {
    /*background-color: rgba(170, 150, 141, 0.521);*/
     margin: 20px auto;
    padding: 10px 30px 30px;
    background: #efefef;
}

.container {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}

.yokonarabi {
    display: flex;
    width:100%
}

h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}

h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #a8ddd4;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}

/*
input[type="submit"] {
	width: 200px;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

input[type="submit"]:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}*/

.logout_submit {
	width: 150px;
    font-size: 20px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #a8ddd4;
    border: 1px solid #a8ddd4;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
    margin-top: 20px;
}

.logout_submit:hover {
	color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

.main_submit {
	width: 250px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

.main_submit:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

.detail-submit{
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  /*border-radius: 0 15px 15px 0;*/
  border-radius: 3px;
  transition: .4s;
}

.detail-submit:hover {
  background: #636363;
}

/*.detail-submit:active {
  margin-top: 3px;
  background-color: #1d7dcc;
  border-bottom: 2px solid #1d7dcc;
}*/


/*.header_logo {
	text-align: center
}*/

.c-form-submit-button2 {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #ADADAD;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    text-align : center;
    font-size: 18px;
}

.c-form-submit-button2:hover {
    background-color: #000;
}

.c-form-submit-button2:focus {
    outline: 0;
    background-color: #000;
    border: 2px solid rgb(33, 150, 243);
}

/*キャンセル・戻る用赤ボタン*/
.c-form-cancel-button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #FA3932;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 20px;
    text-align : center;
    font-size: 18px;
}

.c-form-cancel-button:hover {
    background-color: #000;
}

.c-form-cancel-button:focus {
    outline: 0;
    background-color: #000;
    border: 2px solid rgb(33, 150, 243);
}

.c-form-select {
    position: relative;
    width: 200px;
}

.c-form-select:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(135deg);
    pointer-events: none;
}


.c-form-select select {
	width: 100%;
    height: 2.4em;
    padding: 0 8px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.c-form-select select::-ms-expand {
    display: none;
}

.c-form-select select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.search_bar{
    display: flex; /*アイコン、テキストボックスを調整する*/
    align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
    justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
    height: 50px;
    width: 100%;
}

.group {
	margin: 20px auto;
}


.c-form-select {
    position: relative;
}

.fail_red{
    color: #FF4500;
}

.c-form-submit-button4 {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #808080;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 20px;
    text-align : center;
    font-size: 18px;
}

.c-form-submit-button4:hover {
    background-color: #000;
}

.c-form-submit-button4:focus {
    outline: 0;
    background-color: #000;
    border: 2px solid rgb(33, 150, 243);
}

.box29 {
    text-align: center;
    margin: 2px auto;
    background: #eee;
    height: 170px;
}
.box29 .box-title {
    font-size: 1.2em;
    background: #a8ddd4;
    padding: 4px;
    margin-bottom: 10px;
    text-align: center;
    color: #FFF;
    /*font-weight: bold;*/
    letter-spacing: 0.05em;
}
.box29 .radio-002 {
    padding: 15px 20px;
    margin: 0;
}

.box30 {
text-align: center;
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box30 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box30 .radio-002 {
    padding: 15px 20px;
    margin: 0;
}

.search_bar{
	padding:15px;
}

select {
	border :1px solid #eee; 
	font-size :18px;
	
}

input[type="text"], input[type="email"], input[type="tel"]{
	font-size: 18px;
	margin-bottom: 5px; 
}

.d_label {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 2px solid #808080;
}
input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 18px;
  color: #000;
  /*color: #999;*/
}

textarea {
	font-size: 20px;
}

.notFound_search{
	text-align: center;
	margin: 20px auto;
	padding: 20px;
	font-weight: bold;
	
}

.part_submit{
	font-size: 18px;
}

.radio-div label {
	padding: 0 0 0 2px;
	font-size: 20px;
	line-height: 28px;
	display: inline-block;
	cursor: pointer;
	position: relative;
}
/*
.radio-div label:befor {
	content: '';
	width:28px;
	height: 28px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: yello;
	border-radius: 50%;
}

.radio-div input[type="radio"]{
	display: none;
}

.radio-div input[type="radio"]:checked + label:after {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 9px;
	left: 9px;
	background-color: #fff;
	border-radius: 50%;
}*/

